{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="form_btn">
        <div>
            <a href="{% if user.is_authenticated %}{% url 'create_report' %}{% else %}{% url 'register' %}{% endif %}">
                <button class="create-buttnon">
                 {% if user.is_authenticated %}Обнаружили ошибку? Сообщите нам!{% else %}Обнаружили ошибку?Сообщите нам!{% endif %}
                </button>
            </a>
        </div>

        {% for el in values %}
            <p>{{ el }}</p>
        {% endfor %}

    </div>
        <div class="form_info_text">
            <p>
                Веб-сервис bugtracker представляет собой специализированную систему для отслеживания ошибок (багов) и управления задачами в процессе разработки программного обеспечения. Основная цель bugtracker'а — обеспечить эффективное управление процессом исправления ошибок и улучшения качества разрабатываемого продукта.

                Основные функции веб-сервиса bugtracker могут включать:<br>

                    <br>1)Создание, отслеживание и управление задачами и ошибками (багами).
                    <br>2)Приоритизация задач и ошибок в соответствии с их важностью и срочностью.
                    <br>3)Привязка ошибок и задач к конкретным проектам и версиям программного продукта.
                    <br>4)Документирование шагов для воспроизведения ошибок.
                    <br>5)Комментирование и обсуждение задач и исправлений.
                    <br>6)Генерация отчетов о состоянии проекта, активности и прогрессе разработки.
                    <br>7)Уведомления и оповещения об изменениях в задачах.<br>

                <br>Использование bugtracker'а помогает разработчикам и QA-специалистам эффективно управлять процессом устранения ошибок, повышать прозрачность в разработке программного обеспечения и улучшать качество конечного продукта.
            </p>
        </div>

{% endblock %}