{% extends 'main/layout.html' %}

{% block content %}
    <form class="regform" method="post" action="{% url 'login' %}">
       {% csrf_token %}
        <div class="avtor-block">
            <h1 class="h1-login">Авторизация</h1>
            {{ form.as_p }}
             <button type="submit" class="login-button">Войти</button>
            <p class="ili" id="avto_ili">или</p>
            <a href="{% url 'register' %}" class="a-login-button" id="a-regisrer">Зарегистрироватся</a>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            </div>

    </form>


{% endblock %}
